:root {
  --white: #ffffff;

  --gray-10: #e1e1e6;
  --gray-300: #a8a8b3;
  --gray-700: #29292e;
  --gray-800: #1f2729;
  --gray-900: #121214;

  --cyan-500: #61dafb;
  --yellow-500: #eba417;
  --green-500: #04d361;
}