@import 'colors';
@import 'configs';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--gray-900);
  color: var(--white);
}

body, input, textarea, select, button {
  font: 400 1rem 'Roboto', sans-serif;
}

button {
  cursor: pointer;
  border: 0;
}

a {
  color: inherit;
  text-decoration: none;
}